@import "variables";
@import "components";
@import "mixins";
@import "forms";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $text;
    font-size: 1.1em;
    overflow-x: hidden;
}

main {
    letter-spacing: 2px;
}

/*text*/
a {
    text-decoration: none;
    color: $orange;
}

.content a::before {
    content: '🔗';
    font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    color: $orange;
}

h1.pageTitle {
    font-size: 2.5em;
    text-transform: uppercase;
    color: $secColor;
}

strong {
    color: $orange;
}


.content {
    width: 80%;
    padding-right: 25px;
}

aside {
    width: 20%;
    background: $mainColor;
    padding: $pagePadding;
    margin-bottom: auto;
}

section {
    margin: 50px 0;
}

.avatar-small {
    width: 50px;
    height: 50px;
    border: $avatar-small-b;
}

.icon-small {
    width: 22px;
    height: 22px;
}