@import "variables";
@import "components";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*text*/
a {
    text-decoration: none;
}

.avatar-small {
    width: 50px;
    height: 50px;
    border: $avatar-small-b;
}

.icon-small {
    width: 22px;
    height: 22px;
}