@import "general";

/*Main Layout*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
    padding: 0 $pagePadding;
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $secColor;
    color: $light;
    border-bottom: 2px solid $black;
}

/*logged_user*/
.user-logged {
    display: flex;
    align-items: center;
}

.username {
    padding: $pagePadding;
    font-family: $heading;
    color: $mainColor;
}

.logout {
    color: $light;
    font-family: $consoleFont;
}

.logout:hover {
    border-bottom: 1px solid $red;
}

main {
    background: $light;
    display: flex;
}

/* Sidebar 
----------*/
aside {
    width: 250px;
    background: $secColor;
    border-right: 2px solid $black;
}

/* Dash Menu */
.dash-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dash-nav li a{
    border-bottom: 2px solid $black;
    background: $secColor;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 $pagePadding;
    text-decoration: none;
    color: $light;
    font-family: $consoleFont;
    font-weight: bold;
}

.dash-nav li a:hover, .active {
    background: $mainColor;
    color: $secColor;
}

.active {
    background: red;
}

.dash-sub-nav {
    display: none;
}

.dash-sub-nav li a {
    background: $light;
    height: 40px;
    color: $mainColor;
}

a.backlink {
    background: $mainColor !important;
    color: $secColor !important;
}

/* Content */
.admin-content, .user-content {
    padding: $pagePadding;
}


/* Status Bar */
footer {
    height: 30px;
    padding: 0 $pagePadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $mainColor;
}

.status-bar {
    display: flex;
    list-style: none;
}

.status-bar li {
    padding-right: $pagePadding;
}

.logout-container {
    display: flex;
    align-items: center;
}