@import "general";

/*Main Layout*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $pagePadding;
    position: fixed;
    width: 100vw;
    z-index: 2;
    background: #fff;
}

#logo img {
    height: 50px;
}

main {
  flex: 1;
  padding: $pagePadding;
  display: flex;
  justify-content: space-between;
}


aside {
    width: 300px;
    background: $mainColor;
}

footer {
    padding: $pagePadding;
}