/* ----- Variables -----*/
/*Colors*/
/*Fonts*/
/*Borders*/
/*Stuff*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*text*/
a {
  text-decoration: none;
}

.avatar-small {
  width: 50px;
  height: 50px;
  border: 2px solid #e4dfda;
}

.icon-small {
  width: 22px;
  height: 22px;
}

/*Main Layout*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  padding: 0 25px;
  height: 70px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #253444;
  color: #e4dfda;
  border-bottom: 2px solid #040403;
}

/*logged_user*/
.user-logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.username {
  padding: 25px;
  font-family: "Aldrich", sans-serif;
  color: #4a48a9;
}

.logout {
  color: #e4dfda;
  font-family: "Aldrich", sans-serif;
}

.logout:hover {
  border-bottom: 1px solid #d30808;
}

main {
  background: #e4dfda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Sidebar 
----------*/
aside {
  width: 250px;
  background: #253444;
  border-right: 2px solid #040403;
}

/* Dash Menu */
.dash-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dash-nav li a {
  border-bottom: 2px solid #040403;
  background: #253444;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  text-decoration: none;
  color: #e4dfda;
  font-family: "Aldrich", sans-serif;
  font-weight: bold;
}

.dash-nav li a:hover, .active {
  background: #4a48a9;
  color: #253444;
}

.active {
  background: red;
}

.dash-sub-nav {
  display: none;
}

.dash-sub-nav li a {
  background: #e4dfda;
  height: 40px;
  color: #4a48a9;
}

/* Content */
.admin-content, .user-content {
  padding: 25px;
}

/* Status Bar */
footer {
  height: 30px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #4a48a9;
}

.status-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.status-bar li {
  padding-right: 25px;
}

.logout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=dashboard.css.map */